//MIXINS
$white-color: #f3f3f3;
$grey-margin-color: #b3b7b8;
$green-color: #22b8b3;
$text-color: #bfbfbf;
$black-color: black;

$roundness: 20px 0 20px 0;

@mixin clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin imagegrid($qty, $margin) {
    width: ((97% - (($qty - 1) * $margin))/$qty);
    &:nth-child(n) {
        margin-right: $margin;
        margin-bottom: $margin;
    }
    &:nth-child(#{$qty}n) {
        margin-right: 0;
        margin-bottom: 0;
    }
}

@mixin skillpercentage() {
    height: 23px;
    background-color: $text-color;
}

//MEDIA QUERIES
@media only screen and (max-width: 1096px) {
    .skillsection__services {
        padding-top: 40px !important;
    }
}

@media only screen and (max-width: 768px) {
    .whosection {
        width: 97% !important;
    }

    .skillsection {
        width: 97% !important;
        margin-left: 1.3%;
    }

    .grey-margin {
        padding: 0px !important;
    }

    .skillsection__services {
        margin-bottom: 50px;
    }
}





//CSS
body {
    margin: 0;
    padding: 0;
}

.contentcontainer {
    padding: 0;
}

.grid {
    @include clearfix;
    .item {
        float: left;
        @include imagegrid(3, 3%);
    }
    img {
        display: block;
        max-width: 100%;

        &:hover {
            opacity: 1;
        }
    }
}

h3 {
    font-weight: 100;
}

.grey-margin {
    padding: 20px;
    background-color: $grey-margin-color;
}

.whosection {
    font-weight: 100;
    font-size: 12px;
    background-color: $white-color;
    padding-top: 20px;
    color: $text-color;
    margin-left: 1.5%;
    padding-left: 20px;
    width: 48.5%;
    height: 100%;
    border-right: 1px solid $text-color;

    &__breakline {
        border-color: $text-color;
    }

    &__image {
        width: 100%;
    }
}


.skillsection {
    font-size: 12px;
    @include clearfix;
    background-color: $white-color;
    color: $text-color;
    width: 48.5%;
    height: 100%;
    padding-right: 20px;

    &__skilltext {
        float: left;
        margin-bottom: 0;
    }

    &__percentagetext {
        float: right;
        margin-bottom: 0;
    }

    &__skillbar {
        clear: both;
        border: 1px solid $text-color;
        margin-bottom: 10px;
        &--design {
            @include skillpercentage();
            width: 89%;
        }

        &--development {
            @include skillpercentage();
            width: 97%;
        }

        &--plugins {
            @include skillpercentage();
            width: 85%;
        }

        &--frontend {
            @include skillpercentage();
            width: 75%;
        }
    }

    &__testimonial {
        @include clearfix;
        height: 100px;

        &--header {
            height: 50px;
            width: 100%;
            border: 1px solid $text-color;
            background-color: $green-color;
        }

        &--image {
            width: 48px;
            float: left;
        }

        &--name {
            line-height: 48px;
            padding-left: 70px;
            color: $white-color;
        }

        &--text {
            border-left: 1px solid $text-color;
            border-bottom: 1px solid $text-color;
            border-right: 1px solid $text-color;
            padding: 10px;
        }
    }

    &__services {
        padding-top: 25px;

        &--list {
            padding-left: 15px;
        }

    }

}
