$fontFam: 'Roboto';
$cardcol: #22B8B3;
$cardbacol: #1C2326;
$colcol: #F3F3F3;
$bgcolor: #B3B7B8;
$cardblu: #1AB4B2;

body{
    font-family: $fontFam
    background-color gray;
    
}
.card{
    background-color: aliceblue;
    font-family: $fontFam;
    margin: 9px;
    
    &__card-body {
        text-align: center;
       color:white;
       background-color: $cardblu;
       padding: 11px;
       font-family: $fontFam;
    }
    &__card-body--q{
        background-color: $cardbacol;
        padding: 10px;
        text-align: center;
        color: $colcol;
        font-family: $fontFam;
       
    }
    &__card-body--c{
        color: $cardcol;
        padding: 10px;
        text-align: center;
        font-size: 1rem;
       
    }
    &__card-body--d{
        margin: 10px;
        
    } 

}


